.back{
    margin: 0 auto;
    width: 300px;
    height: 450px;
    background-color: black;
    padding-top: 10px;
    padding-left: 5px;
    border-top-left-radius: 100px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 100px;
    border: solid 4px blueviolet;
    border-top: none;
    border-left: none;
    box-shadow: 5px 5px 5px ;
}
.screen{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 26px;
    width: 240px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.89);
    border-top-left-radius: 40px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 40px;
    border: inset 3px blueviolet;
    border-top: none;
}
.buttons{
    display: flex;
    margin: 0 auto;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
}
.numpad{
    display: flex;
    flex-wrap: wrap;
}
.jobs{
    margin-right: 7px;
}
button{
    width: 60px;
    height: 60px;
    background-color: rgb(105, 87, 165);
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 1px 1px blueviolet;
    font-weight: 900;
    font-size: 25px;
}
.equal{
    height: 60px;
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-color: rgb(66, 47, 129);
}
.action{
    background-color: rgb(66, 47, 129);
}
.dot{
    font-size: 20px;
}
button:active {
    background-color:rgb(143, 119, 221);
    box-shadow: none;
}