div{
    width: 100px;
    height: 100px;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.blue:active{
    width: 1000px;
}
.green:hover{
    width: 1000px;
}