body{
    background-color: black;
}
img{
    width: 250px;
    height: 250px;
    position: absolute;
}
.photos{
    position: relative;
    width: 250px;
    height: 250px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-property: all;
    transition-duration: 1s;
}
.back{
    position: relative;
    height: 750px;
    width: 750px;
    border: green solid 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.window{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.329);
    transition-property: all;
    transition-duration: 1s;
}
.p1:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p1:hover .window{
    right: 250px;
    bottom: 250px;
}
.p2:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p2:hover .window{
    bottom: 250px;
}
.p3:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p3:hover .window{
    left: 250px;
    bottom: 250px;
}
.p4:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p4:hover .window{
    right: 250px;
}
.p5:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p6:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p6:hover .window{
    left: 250px;
}
.p7:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p7:hover .window{
    right: 250px;
    top: 250px;
}
.p8:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p8:hover .window{
    top: 250px;
}
.p9:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.p9:hover .window{
    left: 250px;
    top: 250px;
}