.switch{
    position: relative;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50px;
    border: solid 2.5px gray;
    background-color: rgba(128, 128, 128, 0.278);
}
.button{
    position: absolute;
    top: 2px;
    width: 95px;
    height: 95px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 1px 3px grey;
}
.switch:active .button{
    left: 100px;
}
.switch:active {
    background-color: rgb(26, 26, 100);
}